# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/
client/venv/
server/venv/

# VSCode
.vscode/

# System
.DS_Store

# Docker
*.log

# Local Model Files -->Ignore 
models/
*.safetensors
*.pt

# Server and Client Cache
cache/